
@page "/check-auth"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@* @inject CustomAuthenticationStateProvider AuthenticationStateProvider *@

<p>@authMessage</p>

@code {
    
    

    
    private string authMessage;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            authMessage = $"User is authenticated. Username: {user.Identity.Name}";
        }
        else
        {
            authMessage = "User is not authenticated.";
        }
    }
}
