@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>BlazorApp</PageTitle>

<div>
    <main>
            <AuthorizeView> <Authorized>
                    <NavMenu />
            </Authorized> </AuthorizeView>
                              
         
        
        <article>
            @Body
        </article>
    </main>
</div>
